body {
    font-size: 24px;
    font-family: Luciole, sans-serif;
    text-align: center;
    background-color: #FFF;
}


a {
    text-decoration: none; /* Supprime le soulignement */
    color: white; /* Couleur blanche par défaut */
    transition: color 0.3s; /* Ajoute une transition pour l'effet de survol */
}

a:hover {
    color: lightgray; /* Couleur grise au survol */
}

a:visited {
    color: white; /* Couleur blanche pour les liens déjà visités */
}


h1 {
    font-size: 32px;
    color: #00695C;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 150px;
}

#time {
    font-size: 56px;
    margin-top: 20px;
    color: #333;
}

#message {
    font-size: 20px;
    margin-top: 10px;
    color: #00695C;
    font-style: italic;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00695C;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

.AppBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00695C;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;

}

button:hover {
    background-color: #005148;
    transform: translateY(-3px); /* Déplace légèrement vers le haut au survol */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce */
        transition: transform 0.3s, background-color 0.3s; /* Ajoutez une transition pour une animation fluide */
}


button:disabled {
    background-color: #B2DFDB;
    cursor: not-allowed;
}


/* Balise alt*/

form {
    margin: 20px;
}

label, input {
    display: block;
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 20px;
    width: 80%; /* Ajustez la valeur pour définir la largeur souhaitée */
    padding: 10px; /* Ajoutez un espace de remplissage pour améliorer l'apparence */
}

#resultat {
    margin-top: 20px;
    font-style: italic;}