body {
            font-size: 24px;    
            font-family: Luciole, sans-serif;
            text-align: center;
        }

        h1 {
            font-size: 24px;        
            color: #00695C;
        }

       img {
                   
            width: 100px; 
            height: 150px;
       }

        #time {
            font-size: 44px;
            margin-top: 10px;
        }

        #message {
            font-size: 24px;          
            margin-top: 10px;
            color: #00695C;
            font-style: italic;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #00695C;
            color: #fff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            margin: 10px;
        }

        button:disabled {
            background-color: #B2DFDB;
            cursor: not-allowed;
        }
