body {
    font-size: 24px;
    font-family: Luciole, sans-serif;
    text-align: center;
    background-color: #FFF;
}

h1 {
    font-size: 32px;
    color: #00695C;
    margin-bottom: 20px;
}

img {
    width: 100px;
    height: 150px;
}

#time {
    font-size: 56px;
    margin-top: 20px;
    color: #333;
}

#message {
    font-size: 20px;
    margin-top: 10px;
    color: #00695C;
    font-style: italic;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #00695C;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #005148;
    font-style: italic;
    transform: scale(2.05);
}

button:disabled {
    background-color: #B2DFDB;
    cursor: not-allowed;
}
